/* General Styles */
body {
  font-family: 'Montserrat', 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f9fa;
}

/* Masthead */
.masthead {
  position: relative;
  width: 100%;
  padding: 5rem 0;
  background-color: #14b64a;
  color: white;
  text-align: center;
}

.masthead .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.masthead-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(87, 160, 227, 0.1);
}

.masthead-heading {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.masthead-subheading {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 20px;
}

/* Social Icons */
nav a {
  color: white;
  margin: 0 15px;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffdd57;
}

/* Copyright */
.copyright {
  background-color: #187bdd;
  align-items: center;
  padding: 20px 0;
}

.copyright small {
  font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .masthead-heading {
      font-size: 2.5rem;
  }

  .masthead-subheading {
      font-size: 1.2rem;
  }

  .masthead-avatar {
      width: 150px;
      height: 150px;
  }
}

@media (max-width: 576px) {
  .masthead-heading {
      font-size: 2rem;
  }

  .masthead-subheading {
      font-size: 1rem;
  }

  nav a {
      font-size: 1.2rem;
      margin: 0 10px;
  }
}
